span.badge {
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    border-radius: 16px;
    text-align: center;
    padding: 0 6px;
    font-size: .8rem;
    line-height: normal;
}

.badge-wrap {
    position: relative;
}