.quantity {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e547;
    box-sizing: border-box;
}

.quantity label {
    flex: 1 0 35%;
    font-size: 13px;
    color: #444;
    margin: 0;
}

.qty-input {
    flex: 1 0 65%;
    height: 5vh;
    align-items: center;
    background: #5e6f91;
    border-radius: 6px;
}

.light .qty-input {
    background: #d6e2f9;
}

.qty-input button {
    width: 17%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.qty-input input {
    flex: 1;
    width: 66%;
    font-size: 1.1rem;
    text-align: center;
<<<<<<< HEAD
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
=======
    font-size:1.2rem;
>>>>>>> add1220883ffc1b91a8f9f21a17c318ed4ad06e1
}

.qty-remove {
    background-color: #d11717 !important;
    margin: 0 !important;
}

.qty-input .qty-count {
    position: relative;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    text-indent: -9999px;
}


.qty-input .qty-count::before,
.qty-input .qty-count::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* علامت + */
.qty-input .qty-count--add::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

/* جداکننده */
.qty-input .qty-count--minus {
    border-right: 1px solid #ddd;
}

.qty-input .qty-count--add {
    border-left: 1px solid #ddd;
}

/* عدد */
.qty-input .product-qty {
    width: 50px;
    min-width: 50px;
    height: 40px;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    text-align: center;
    font-size: 14px;
    color: #333;
    appearance: textfield;
}

.qty-input .product-qty::-webkit-outer-spin-button,
.qty-input .product-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty-input .product-qty {
    -moz-appearance: textfield;
}

/* حالت غیرفعال */
.qty-input .qty-count:disabled {
    background: #e8e8e8;
    cursor: not-allowed;
}

.qty-input .qty-count:disabled::before,
.qty-input .qty-count:disabled::after {
    background: #bbb;
}