section.table-container {
    overflow-x: auto;
}

.responsive-table {
    width: 100%;
    min-width: 900px;
    color: inherit
}

.responsive-table thead {
    background-color: var(--table-header-bg);
}

.responsive-table th,
.responsive-table td {
    padding: 10px 14px;
    text-align: center;
    border: 1px solid #c4c8d757;
    white-space: nowrap;
    border-radius: 9px;
}

/* .responsive-table tbody tr:nth-child(even) {
    background-color: var(--table-even-row);
} */

.status-paid {
    color: green;
    font-weight: bold;
}

.status-pending {
    color: orange;
    font-weight: bold;
}

.status-failed {
    color: red;
    font-weight: bold;
}

td.complete {
    background: #00800061;
}

td.img {
    width: 50px;
    height: 50px;
}

td.img img {
    width: 50px;
    height: 50px;
}

.mobile-items-list {
    display: none;
}


@media (max-width: 900px) {

    .items-table {
        display: none;
    }

    .mobile-items-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mobile-item {
        border-bottom: 1px dotted;
        padding-bottom: 15px;
    }

    .mobile-item-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 12px;
    }

    .mobile-item-name {
        flex: 1;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.8;
    }

    .mobile-item-actions {
        display: flex;
        align-items: center;
        gap: 7px;
        flex-shrink: 0;
    }

    .mobile-item-actions button {
        width: 32px;
        height: 32px;
        border: 0;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 15px;
    }

    .mobile-item-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 12px;
        padding-top: 13px;
    }

    .mobile-detail {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .mobile-detail span {
        font-size: 11px;
        color: #888;
    }

    .mobile-detail strong {
        font-size: 13px;
        font-weight: 500;
    }


    .mobile-total {}

    .mobile-total strong {
        font-size: 15px;
        font-weight: 700;
    }

}