.justify-between {
    justify-content: space-between;
}

.pb-5 {
    padding-bottom: 5px;
}

.gap-1 {
    gap: .5rem;
}

.gap-8 {
    gap: 15px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.ml-2 {
    margin-right: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.w-full {
    width: 100%;
}

.align-center {
    align-items: center;
}

.mb-8 {
    margin-bottom: 10px;
}